<div class="centered">
  <div>
    <h1><b>So sorry</b></h1>
    <h3>YOUR CHOICE WAS UNWISE</h3>
  </div>
  <div>
    <img src="/img/chest_closed.gif" alt="Chest">
  </div>
  <div>
    <h3>Come back with more wisdom next week.</h3>
    <br>
  </div>
  <div class="row">
    <div class="column">
      <form action="/">
        <input class="button radius success" type="submit" value="Back">
      </form>
    </div>
  </div>
</div>
