<div class="centered">
  <div>
    <h1><b>You have earned a chance to open the chest</b></h1>
    <h3>CHOOSE WISELY</h3>
  </div>
  <div>
      <img src="/img/chest_closed.gif" alt="Chest">
  </div>
  <br>
  <div class="row">
    <div class="small-4 columns">&nbsp;</div>
    <div class="small-4 columns">
      <form action=<%=button1 %>>
        <input class="button radius success left" type="submit" value="Choose!">
      </form>
      <form action=<%=button2 %>>
        <input class="button radius success right" type="submit" value="Choose!">
      </form>
    </div>
    <div class="small-4 columns">&nbsp;</div>
  </div>
</div>
