<div class="centered">
  <div>
    <h1>You have earned a chance to open the chest</h1>
    <h3><b>CHOOSE WISELY</b></h3>
  </div>
  <div>
      <!-- <img src="/img/chest_open.gif" alt="Chest"> -->
      <img src="/img/chest_closed.gif" alt="Chest">
  </div>
  <br>
  <div>
    <a href="#" class="button radius success" id="buttons">Choice 1</a>
    &nbsp;
    <a href="#" class="button radius success" id="buttons">Choice 2</a>
  </div>
  <div>
    <h1><b>You got the </b><b id="<%= item_color %>"><%= loot %></b></h1>
  </div>
</div>
